
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(hsla(210, 29%, 24%, 0.6), hsla(204, 68%, 53%, 0.6)), url('../../images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    text-align: center;
}
.hero-text h1{
    font-size: 60px;
    font-weight: 600;
}
.hero-text h2{
    margin: 10px auto 20px;
    line-height: 1.4;
}
.next{
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    outline: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:#E77E23;
    color: white;

  }
