
.profile {
  margin-top: 75px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile-box,
.borrowed-box {
  width: 900px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}
.details td{
  border: none;
  text-align: left;
  height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  font-size: 18px;
}
.save-btn{
  background-color: lightgreen;
}
.cancel-btn{
  background-color: gray;
}
.edit-icon{
  color: lightgrey;
  background-color: #f8f9fa;
}
.buttons{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 300;
}
.admin-portal-btn{
  background-color: #60a5fa;
}
.logout-btn{
background-color: red;
}
.borrowed-books-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.borrowed-books-table th,
.borrowed-books-table td {
  border: 1px solid #d1d5db;
  height: 60px;
  text-align: left;
}
.borrowed-books-table th {
  background-color:#607d8b;
  color: white;
}
.borrowed-books-table tbody tr:nth-child(even) {
  background-color: #f3f4f6;
}
.borrowed-books-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.return-btn{
  background-color:#4CAF50;
  color: white;
}

.status-returned {
  color: #4CAF50;
  font-weight: bold;
}
.status-overdue{
  color: #f44336;
  font-weight: bold;
}
.status-borrowed{
  color: #2196F3;
  font-weight: bold;
}