.profilePage{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.profile {
    width: 100%;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 75px;
  margin-bottom: 10px;
  flex-grow: 1;
}

.details {
  padding: 10px 0;
}

.details p {
  margin: 8px 0;
}

.profile h1 {
  text-align: center;
  color: #333;
}

.profile p {
  font-size: 16px;
  color: #555;
}

@media (max-width: 768px) {
  .profile {
    padding: 15px;
    margin: 10px;
  }

  p {
    font-size: 14px;
  }
}
